.cation {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
   background: radial-gradient(circle at 10px 20px, #6ACE10, #000);
  position:relative;
   top:10px;

}

.anion {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0;
   background: radial-gradient(circle at 20px 30px, #7F44CE, #000);
   position: relative;
   top:8px;
}

section#text h1{
	font-size: 75px;
	font-family: "Fugaz One",italic;
	color: #FFF;

}
section#text h2{
	font-size: 40px;
	font-family: "Fugaz One",italic;
	color: #FFF;
}
section#text p{
	font-size: 18px;
	font-family: "Space Mono",monospace;
  color:#FFF;
}
ul{
	font-size: 18px;
	font-family: "Space Mono",monospace;
  color:#FFF;
}
.acid{
display: inline-block;
  background: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
   background: radial-gradient(circle at 20px 30px,#ED462F, #000);
   position:relative;
   top:10px;
}
table{
	font-size: 18px;
	font-family: "Space Mono",monospace; 
  color: #FFF;
}
figure:hover{
	 -webkit-animation: bounce 0.75s infinite;

}
.alkali{
display: inline-block;
  background: black;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0;
   background: radial-gradient(circle at 30px 40px,#E376C4, #000);
   position:relative;
   top:10px;
}
.water{
display: inline-block;
  background: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
   background: radial-gradient(circle at 20px 30px,#6EF5DE, #000);
   position:relative;
   top:6px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:300px;
}